<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="cnxUMA" connectionString="Server=192.168.1.54;Database=UMA_PROGII_22;User Id=alumno;Password=umaprog2;" />
    <add name="cnxLocal" connectionString="Server=.;Database=UMA_PROGII_22;User Id=alumno;Password=UMAProg2;" />
  </connectionStrings>
</configuration>